---
import PageHeading from "../components/page-heading.astro";
import PostsLoop from "../components/posts-loop.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="My Writing">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Mes Documentations Techniques"
      description="Dans cette section, vous trouverez des documentations détaillées que j'ai créées pour partager des connaissances et des solutions techniques dans les domaines de la cybersécurité, des réseaux, et des systèmes informatiques. Ces ressources sont conçues pour être claires, pratiques et accessibles, afin d'aider à la compréhension et à la mise en œuvre de technologies complexes.Si vous avez des questions ou souhaitez en savoir plus, je suis à votre disposition."
    />

    <div class="z-50 flex flex-col items-stretch w-full gap-5 my-8">
      <PostsLoop count="999999999" />
    </div>
  </section>
</Layout>
